/**/
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

/* Estilos UNIVERSAIS*/




body{
    background: linear-gradient(45deg, rgb(47, 0, 255), rgb(102, 4, 105));
    z-index: -1;
    min-width: 90%;
    
}

/* Estilos CLASSES*/



.topo{
    
    height: 70px;
    background-color: gray;
    margin: 5px;
}

.intro{
    margin: 15px;
}


.div_intro{
    display: inline-block;
    padding-left: 30px;
    width: 40%;
    font-size: 30px;
    text-align: center;
    
   
}
.img_intro{
    display: flex;
    float: right;
    width: 50%;  
    height: 50%;
}

.html{
    padding: 15px;
}



.img_html{
    width: 25%;
    float: left;
    display: inline-block;

}
.intro_html{
    display: inline-block;
    font-family: Arial;
    font-size: 25px;
    width: 65%;
    text-align: center;
    vertical-align: top;
   
    
}
.css{
    padding: 15px;
}

.intro_css{

    display: block;
    width: 65%;
    vertical-align: top;
    font-size: 25px;
    text-align: center;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
}
.img_css{
display: inline-block;
float: right;
width: 25%;
}

.js{
margin: 15px;
}
.intro_js{
    display: inline-block;
    font-family: Arial;
    font-size: 25px;
    width: 65%;
    text-align: center;
    vertical-align: top;
}
.img_js{
    display: inline-block;
    width: 25%;
    float: left;
}
.git_github{
    
}
.img_gg{
    max-height: 40%;
    width: auto;
    display: inline-block;
    float: right;
    object-fit: contain;
}

.intro_git_github{
    display: inline-block;
    font-family: Arial;
    font-size: 25px;
    width: 55%;
    text-align: center;
    vertical-align: top;
}
/* Estilos ID*/

/* Estilos COMBINADOS*/

.div_intro p{
    font-family: Nabla;
}


/* DEMAIS estilos*/


